.DS_Store
.vscode/
.vscode/c_cpp_properties.json
**/*.bash
build/
CMakeCache.txt
.gitignore
CMakeFiles/CMakeOutput.log
CMakeFiles/3.24.3/CMakeCXXCompiler.cmake
CMakeFiles/cmake.check_cache
.gitignore
CMakeFiles/CMakeError.log
CMakeFiles/3.24.3/CMakeCCompiler.cmake
CMakeFiles/3.24.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.24.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.24.3/CompilerIdC/CMakeCCompilerId.c
.gitignore
CMakeFiles/3.24.3/CompilerIdC/CMakeCCompilerId.o
.gitignore
CMakeFiles/3.24.3/CompilerIdCXX/CMakeCXXCompilerId.o
.gitignore
CMakeFiles/3.24.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.24.3/CMakeSystem.cmake
